<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
</head>
<body>
    <h1>Weather Forecast Application</h1>
    
    <form method="POST">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br><br>

        <label for="data_type">Data Type:</label>
        <select id="data_type" name="data_type">
            <option value="current">Current</option>
            <option value="historical">Historical</option>
        </select><br><br>

        <label>Select Parameters:</label><br>
        <input type="checkbox" name="parameters" value="temperature_2m"> Temperature<br>
        <input type="checkbox" name="parameters" value="precipitation"> Precipitation<br>
        <input type="checkbox" name="parameters" value="wind_speed_10m"> Wind Speed<br>
        <button type="submit">Get Weather</button>
    </form>

    {% if weather_data %}
    <h2>Weather Data for {{ city }}</h2>
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Time</th>
                {% for param in weather_data[0].keys() if param != 'time' %}
                <th>{{ param.replace('_', ' ').title() }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for entry in weather_data %}
            <tr>
                <td>{{ entry.time }}</td>
                {% for param, value in entry.items() if param != 'time' %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>
